{% extends '::base.html.twig' %}

{% block title %}PHP-SI - kolumne{% endblock %}

{% block content_header '' %}

{% block body %}
    <div role="main" class="main width clearfix">
    
<div class="wsidebar" role="content">
    
    <!-- Primer articla -->

    <article class="cArticle">
        <div class="toolbar"><a href="#" class="langtag">DELI</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a></div>
        <h1><a href="/Symfony/web/app.php/kolumne-single">Title is limited to 47 characters tops</a></h1>
        <h4>Prispeval: <a href="#">Žare Kerin</a>, Kreativni direktor v Futura DDB</h4>

        <p>

        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying.
        Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne. 
        </p>

        <div class="reply_bar"><a href="#" class="reply_button">Komentiraj</a><a href="#" class="report_button">Beri vse</a></div>
    </article>
    <!-- Konec articla -->

    <!-- Primer articla -->
    <article class="cArticle">

        <div class="toolbar"><a href="#" class="langtag">DELI</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a></div>
        <h1><a href="/Symfony/web/app.php/kolumne-single">Title is limited to 47 characters tops</a></h1>
        <h4>Prispeval: <a href="#">Žare Kerin</a>, Kreativni direktor v Futura DDB</h4>

        <p>
            Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying.
            Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne.
        </p>

        <div class="reply_bar"><a href="#" class="reply_button">Komentiraj</a><a href="#" class="report_button">Beri vse</a></div>
    </article>
    <!-- Konec articla -->

    <!-- Primer articla -->
    <article class="cArticle">
        <div class="toolbar"><a href="#" class="langtag">DELI</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a></div>

        <h1><a href="/Symfony/web/app.php/kolumne-single">Title is limited to 47 characters tops</a></h1>
        <h4>Prispeval: <a href="#">Žare Kerin</a>, Kreativni direktor v Futura DDB</h4>

        <p>
            Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying.
            Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne.
        </p>

        <div class="reply_bar"><a href="#" class="reply_button">Komentiraj</a><a href="#" class="report_button">Beri vse</a></div>

    </article>
    <!-- Konec articla -->

    <!-- Primer articla -->
    <article class="cArticle">
        <div class="toolbar"><a href="#" class="langtag">DELI</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a></div>
        <h1><a href="/Symfony/web/app.php/kolumne-single">Title is limited to 47 characters tops</a></h1>

        <h4>Prispeval: <a href="#">Žare Kerin</a>, Kreativni direktor v Futura DDB</h4>

        <p>
            Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying.
            Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne.
        </p>

        <div class="reply_bar"><a href="#" class="reply_button">Komentiraj</a><a href="#" class="report_button">Beri vse</a></div>
    </article>

    <!-- Konec articla -->

    <h2 class="old"><a href="#">Starejši vpisi</a> - <a href="#">Arhiv</a></h2>
</div>

<div id="sidebar" class="sidebar">
<div class="box">
    <h2>RAZVRSTI AVTORJU</h2>
    <div class="box-content" id="about_author">

        <ul class="list-articles">
            <li><a href="#">Avtor Avtorjevski</a></li>
            <li><a href="#">Author Authorious</a></li>
            <li><a href="#">Autore Autoretetitus</a></li>
            <li><a href="#">Autore Autorismo</a></li>
            <li><a href="#">Author Authorský</a></li>

            <li><a href="#">Avtor Avtorjevski</a></li>
            <li><a href="#">Author Authorious</a></li>
            <li><a href="#">Autore Autoretetitus</a></li>
            <li><a href="#">Autore Autorismo</a></li>
            <li><a href="#">Author Authorský</a></li>
        </ul>

    </div>
</div>
</div></div>
</div>
{% endblock %}
