{% extends '::base.html.twig' %}

{% block title %}PHP-SI - forum{% endblock %}

{% block content_header '' %}

{% block body %}
    <div role="main" class="main width clearfix">

<div class="wsidebar forums" role="content">
<article>
<h1>FORUMI : <span>SPLETNI JEZIKI</span></h1>

<section class="clearfix">
    <a href="#" class="forumtag tag-csharp">C#</a>
    <a href="#" class="forumtag tag-css">CSS</a>
    <a href="#" class="forumtag tag-html">HTML</a>
    <a href="#" class="forumtag tag-java">JAVA</a>
    <a href="#" class="forumtag tag-js">JAVASCRIPT</a>
</section>
<section class="clearfix">
    <a href="#" class="forumtag tag-php">PHP</a>
    <a href="#" class="forumtag tag-phyton">PHYTON</a>
    <a href="#" class="forumtag tag-ruby">RUBY</a>
    <a href="#" class="forumtag tag-sql">SQL</a>
    <a href="#" class="forumtag tag-vbnet">VB .NET</a>
</section>
</article>

<article>
<h1>FORUMI : <span>SPLOŠNO</span></h1>

<section class="clearfix forum-section">
    <a href="#" class="forumtag">RAZVIJALEC-SI</a>
    <div class="fstat"><span>195</span>Število tem</div>
    <div class="fstat"><span>863</span>Število odgovorov</div>
    <div class="fstat"><span>270</span>Število sodelujočih</div>
</section>

<section class="clearfix forum-section">
    <a href="#" class="forumtag">PROJEKTI</a>
    <div class="fstat"><span>195</span>Število tem</div>
    <div class="fstat"><span>863</span>Število odgovorov</div>
    <div class="fstat"><span>270</span>Število sodelujočih</div>
</section>

<section class="clearfix forum-section">
    <a href="#" class="forumtag">EVENTI</a>
    <div class="fstat"><span>195</span>Število tem</div>
    <div class="fstat"><span>863</span>Število odgovorov</div>
    <div class="fstat"><span>270</span>Število sodelujočih</div>
</section>
</article>
</div>

<div id="sidebar" class="sidebar">
<div class="box">
    <h2>ZADNJE V FORUMU</h2>
    <div class="box-content">
        <ul>
            <li><a href="#" class="langtag tag-csharp">C#</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-css">CSS</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-html">HTML</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-java">JAVA</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-js">JS</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-php">PHP</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-phyton">PHYTON</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-ruby">RUBY</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-sql">SQL</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-vbnet">VB.NET</a><a class="list-item" href="#">Ime teme</a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
