{% extends '::base.html.twig' %}

{% block title %}PHP-SI - novice{% endblock %}

{% block content_header '' %}

{% block body %}
<div role="main" class="main width clearfix">
<div class="wsidebar" role="content">
    
    <!-- Primer articla -->
    <article>
        <div class="toolbar"><a href="#" class="langtag">SHARE</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a><a href="#" class="langtag tag-php">PHP</a></div>

        <h1><span>24 JAN 2012</span><a href="#">Title is limited to 47 characters tops</a></h1>
        
        <p>
        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying.
        Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne. 
        </p>
        
        <h4>Napisal: <a href="#">Dodofren</a></h4>
    </article>
    <!-- Konec articla -->

    
    <!-- Primer articla -->
    <article>
        <div class="toolbar"><a href="#" class="langtag">SHARE</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a><a href="#" class="langtag tag-css">CSS</a></div>
        <h1><span>24 JAN 2012</span><a href="#">Naslov articla</a></h1>
        
        <p>
        Sentiments two occasional affronting solicitude travelling and one contrasted. Fortune day out married parties. Happiness remainder joy but earnestly for off.
        Took sold add play may none him few. If as increasing contrasted entreaties be. Now summer who day looked our behind moment coming. Pain son rose more park way that. An stairs as be lovers uneasy. 
        </p>

        
        <h4>Napisal: <a href="#">Dodofren</a></h4>
    </article>
    <!-- Konec articla -->
    
    <!-- Primer articla -->
    <article>
        <div class="toolbar"><a href="#" class="langtag">SHARE</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a><a href="#" class="langtag tag-csharp">C#</a></div>

        <h1><span>24 JAN 2012</span><a href="#">Naslov articla</a></h1>
        
        <p>
        Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.
        She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six. 
        </p>
        
        <h4>Napisal: <a href="#">Dodofren</a></h4>
    </article>
    <!-- Konec articla -->

    
    <!-- Primer articla -->
    <article>
        <div class="toolbar"><a href="#" class="langtag">SHARE</a><a href="#" class="langtag">RSS</a><a href="#" class="langtag">PRINT</a><a href="#" class="langtag tag-php">PHP</a></div>
        <h1><span>24 JAN 2012</span><a href="#">Naslov articla</a></h1>
        
        <p>
        It real sent your at. Amounted all shy set why followed declared. Repeated of endeavor mr position kindness offering ignorant so up. Simplicity are melancholy preference considered saw companions.
        Disposal on outweigh do speedily in on. Him ham although thoughts entirely drawings. Acceptance unreserved old admiration projection nay yet him. Lasted am so before on esteem vanity oh. 
        </p>

        
        <h4>Napisal: <a href="#">Dodofren</a></h4>
    </article>
    <!-- Konec articla --> 
    
    <h2 class="old"><a href="#">Starej&scaron;i vpisi</a> - <a href="#">Arhiv</a></h2>
</div>

<div id="sidebar" class="sidebar">

<div class="box">
    <h2>NOVICE PO KATEGORIJI</h2>
    <div class="box-content">
        <a href="#" class="langtag tag-csharp">C#</a><a href="#" class="langtag tag-css">CSS</a><a href="#" class="langtag tag-html">HTML</a><a href="#" class="langtag tag-java">JAVA</a><a href="#" class="langtag tag-js">JS</a><a href="#" class="langtag tag-php">PHP</a><a href="#" class="langtag tag-phyton">PHYTON</a><a href="#" class="langtag tag-ruby">RUBY</a><a href="#" class="langtag tag-sql">SQL</a><a href="#" class="langtag tag-vbnet">VB.NET</a>

    </div>
</div>

<div class="box">
    <h2>ZADNJI VODI&#268;I</h2>
    <div class="box-content">
        <ul>
            <li><a href="#" class="langtag tag-csharp">C#</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>

            <li><a href="#" class="langtag tag-css">CSS</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-html">HTML</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-java">JAVA</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-js">JS</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>

            <li><a href="#" class="langtag tag-php">PHP</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-phyton">PHYTON</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-ruby">RUBY</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
            <li><a href="#" class="langtag tag-sql">SQL</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>

            <li><a href="#" class="langtag tag-vbnet">VB.NET</a><a class="list-item" href="#">Ime vodi&#269;a</a></li>
        </ul>
    </div>
</div>

<div class="box">
    <h2>ZADNJE V FORUMU</h2>
    <div class="box-content">

        <ul>
            <li><a href="#" class="langtag tag-csharp">C#</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-css">CSS</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-html">HTML</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-java">JAVA</a><a class="list-item" href="#">Ime teme</a></li>

            <li><a href="#" class="langtag tag-js">JS</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-php">PHP</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-phyton">PHYTON</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-ruby">RUBY</a><a class="list-item" href="#">Ime teme</a></li>
            <li><a href="#" class="langtag tag-sql">SQL</a><a class="list-item" href="#">Ime teme</a></li>

            <li><a href="#" class="langtag tag-vbnet">VB.NET</a><a class="list-item" href="#">Ime teme</a></li>
        </ul>
    </div>
</div>
</div></div>
</div>
{% endblock %}
